html, body {
  position: relative;
  width: 100%;
  height: 100%;
  --primary-accent: cadetblue;
  --primary-font: ghostwhite;
  --background-color: ghostwhite;
  --background-font: #222;
  --icon: #222;
  --icon-disabled: #666666;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0,100,200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0,80,160);
}

label {
  display: block;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
}

input:disabled {
  color: #ccc;
}

button {
  background-color: var(--background-color);
  color: var(--background-font);
  outline: none;
}

button:disabled {
  color: #aaa;
}

button:hover {
  filter: brightness(110%);
  cursor: pointer;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

.card {
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.disabled {
  fill: var(--icon-disabled);
  color: var(--icon-disabled);
}

.split {
  display: flex;
  justify-content: space-between;
}

.round-button {
  border-radius: 100%;
}

.round-button:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.button-transparent {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.button-transparent:active {
  background: none;
  border: none;
}

.icon:hover {
  filter: drop-shadow(3px 0 2px rgba(0,0,0,0.3));
}